@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #FBDA31;
    display: flex;
    justify-content: center;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

section {
  max-width: 760px;
  background-color: #ffffff;
  padding: 2rem 0;
}

#form-container {
  width: 52vw;
height: 72vh;
  display: flex;
align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 18px;
}

#radio {
  display: flex;
  justify-content: center;
      margin-bottom: 39px;
}

input[type="radio"] {
    margin-left: 34px;
}


div#info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        margin-bottom: 39px;
}

#info-container input {
    width: 25vw;
    height: 7vh;
}

div#right-container {
    float: right;
    margin-right: 35px;
}

div#left-container {
    float: left;
    margin-left: 35px;
}

input[type="submit"] {
    border: 2px solid black;
    padding: 12px;
    width: 22vw;
    background: none;
    border-radius: 5px;
}
